######### ZABBIX CONFIG #########
# Server available on IP
{% if zabbix_server_ip is defined and zabbix_server_ip %}
SourceIP={{ zabbix_server_ip }}
{% endif %}

LogType={{ zabbix_server_logtype }}
# Type of logs from Server

# Portnumber to listen on
ListenPort={{ zabbix_server_port }}

# Database host name
DBHost={{ zabbix_server_database_host }}

# Database name
DBName={{ zabbix_server_database_name }}

# Database user
DBUser={{ zabbix_server_database_user }}

# Database password
DBPassword={{ zabbix_server_dbpassword }}

# Database schema
{% if zabbix_server_database_schema is defined and zabbix_server_database_schema %}
DBSchema={{ zabbix_server_database_schema }}
{% endif %}

{% if zabbix_server_database_port is defined and zabbix_server_database_port %}
# Database port
DBPort={{ zabbix_server_database_port }}
{% endif %}

{% if zabbix_server_version is zabbix_server_version('2.2', '>=') %}
# Allow to run as 'root'. We work with vagrant. If this option is disabled, the server will start as 'vagrant'.
AllowRoot={{ zabbix_server_allowroot }}
{% endif %}


{% if zabbix_version is version_compare('3.0', '>=') %}
# Will allow to go to an existing user. This can only work is you run as 'root', 'AllowRoot' is disabled.
User={{ zabbix_server_user }}
{% endif %}